# ==========================
# Terraform
# ==========================

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/.terraform.lock.hcl

# ==========================
# SSH Keys
# ==========================

*.pem
*.ppk
*.key

# ==========================
# Environment Variables
# ==========================

.env
.env.*

# ==========================
# Python
# ==========================

__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
venv/
.venv/
env/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# macOS
# ==========================

.DS_Store

# ==========================
# Windows
# ==========================

Thumbs.db
desktop.ini

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Jenkins Runtime Data
# ==========================

jenkins_home/

# ==========================
# Docker
# ==========================

*.tar

